{% extends "layout.html" %}
		{% block body %}
	     <p class="text-center">You are welcome to visit any of the parks and the sceneries that we have. The hotel bookings can be done online or you can visit our offices to book. we are situated at nairobi town. We also provide camping tools and also other equipments that ypu may need but you are welcomed to bring yours. Here we cater for all your needs. You can find us offices at the towers on the 4th floor or contact us via cell 0700******</p>
	     <div class="row">
	     	<p>
	     		
	     	</p>
	     	<img src="">
	     </div>
		<section class="row">
			<div>
				
			</div>
			<div>
				
			</div>
			<div>
				
			</div>
			<div>
				
			</div>
		</section>
		{% endblock %}
		